pertemuan_1/
lena2.png

*.docx
*.pdf

grayscale_without_OpenCV2.py
grayscale_with_OpenCV.py
make_grayscale.py
rgb_without_opencv.py
rgb_with_opencv.py
grayscale_without_OpenCV.py
taj.png
azhar_pic.png