<!-- partial:partials/_sidebar.html -->
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile border-bottom">
        <a href="#" class="nav-link flex-column">
          <div class="nav-profile-image">
            <img src="../static/images/faces/foto_azhar.png" alt="profile" />
            <!--change to offline or busy as needed-->
          </div>
          <div class="nav-profile-text d-flex ms-0 mb-3 flex-column">
            <span class="font-weight-semibold mb-1 mt-2 text-center">M Azhar Alauddin</span>
            <span class="text-secondary icon-sm text-center mb-2">3A - 201524013</span>
          </div>
        </a>
      </li>
      <li class="pt-2 pb-1">
        <span class="nav-item-head">Daftar Tugas</span>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="mdi mdi-view-dashboard menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#tugas-1" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-trello menu-icon"></i>
          <span class="menu-title">Tugas 1</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tugas-1">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/grayscale">
                <span class="menu-title">Grayscale</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#tugas-2" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-airplay menu-icon"></i>
          <span class="menu-title">Tugas 2</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tugas-2">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/invers">
                <span class="menu-title">Invers</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cropping">
                <span class="menu-title">Cropping</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#tugas-3" aria-expanded="false" aria-controls="ui-basic">
          <i class="mdi mdi-ticket-account menu-icon"></i>
          <span class="menu-title">Tugas 3</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tugas-3">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <a class="nav-link" href="/brightness_add">
                <span class="menu-title">Brightness Add</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/brightness_subtraction">
                <span class="menu-title">Brightness Substraction</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/brightness_multiplication">
                <span class="menu-title">Brightness Multiplication</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/brightness_divide">
                <span class="menu-title">Brightness Divide</span>
              </a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>