{% extends "layouts/master.html" %}
{% block content %}

<div class="main-panel">
  <div class="content-wrapper pb-0">
    <h3>Brightness Add</h3><br>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          {% for message in messages %}
            {{ message }}
          {% endfor %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    {% endwith %}
    <!-- chart row starts here -->
    {% if filename %}
    <div class="row">
      <div class="col-sm-4 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="card-title"> 
              Display Original Image
            </div>
            <div class="col">
              <img class="width:250;" height = "250" }" src="{{ url_for('display_brightness_add', filename=filename) }}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="card-title"> 
              Brightness Add with OpenCV 
            </div>
            <div class="col">
              <img class="width:250;" height = "250" }" src="{{ url_for('display_brightness_add_with_open_cv', filename=filename) }}">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="card-title"> 
              Brightness Add without OpenCV 
            </div>
            <div class="col">
              <img class="width:250;" height = "250" }" src="{{ url_for('display_brightness_add_without_open_cv', filename=filename) }}">
            </div>
          </div>
        </div>
      </div>
    </div>
    {% else %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Please Upload a File First!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}
    <form method="post" action="/brightness_add" enctype="multipart/form-data">
      <input type="file" name="file" class="form-control" autocomplete="off" required>
      <br>
      <!-- <input type="range" min="0" max="100" name="brightness_add" /> -->
      <p class="page-description">Nilai Penambah Kecerahan:</p>
      <input type="text" id="range_02" name="brightness_add" value="" />
      <br>
      <input type="submit" value="Submit" class="btn btn-primary">
    </form>
    <br><br><br><br><br><br>
  </div>
  <!-- partial -->
</div>

{% endblock %}