{% extends "layouts/master.html" %}
{% block content %}

<div class="main-panel">
  <div class="content-wrapper pb-0">
    <h3>Dashboard</h3>
    <br>
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Grayscale</h5>
            <p class="card-text">Citra yang hanya memiliki warna abu-abu, hitam, dan putih.</p>
            <a href="/grayscale" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Invers</h5>
            <p class="card-text">Membuat sebuah citra negatif.</p><br>
            <a href="/invers" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Cropping</h5>
            <p class="card-text">Memotong bagian citra.</p><br>
            <a href="/cropping" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Brightness Add</h5>
            <p class="card-text">Menambahkan nuansa terang pada citra.</p><br>
            <a href="brightness_add" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Brightness Subtraction</h5>
            <p class="card-text">Mengurangi nuansa terang pada citra.</p><br>
            <a href="brightness_subtraction" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Brightness Multiplication</h5>
            <p class="card-text">Mengalikan nilai nuansa terang tertentu pada suatu citra.</p>
            <a href="brightness_multiplication" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Brightness Divide</h5>
            <p class="card-text">Membagi nilai nuansa terang tertentu pada suatu citra.</p>
            <a href="/brightness_divide" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Black and White</h5>
            <p class="card-text">Membuat suatu citra menjadi biner (2 warna): hitam dan putih.</p>
            <a href="/black_and_white" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bitwise And</h5>
            <p class="card-text">Menerapkan operasi logika AND pada 2 citra sekaligus.</p>
            <a href="/bitwise_and" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bitwise Or</h5>
            <p class="card-text">Menerapkan operasi logika OR pada 2 citra sekaligus.</p>
            <a href="/bitwise_or" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bitwise Xor</h5>
            <p class="card-text">Menerapkan operasi logika XOR pada 2 citra sekaligus.</p>
            <a href="/bitwise_xor" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Bitwise Not</h5>
            <p class="card-text">Menerapkan operasi logika NOT pada 2 citra sekaligus.</p>
            <a href="/bitwise_not" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Random</h5>
            <p class="card-text">Multiple operations.</p>
            <a href="/random" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Global Thresholding </h5>
            <p class="card-text">Global Thresholding.</p>
            <a href="/global_thresholding" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Adaptive Mean Thresholding</h5>
            <p class="card-text">Adaptive Mean Thresholding.</p>
            <a href="/adaptive_mean_thresholding" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Adaptive Gaussian Thresholding</h5>
            <p class="card-text">Adaptive Gaussian Thresholding.</p>
            <a href="/adaptive_gaussian_thresholding" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Otsu Thresholding</h5>
            <p class="card-text">Otsu Thresholding.</p>
            <a href="/otsu_thresholding" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Histogram Equalization</h5>
            <p class="card-text">Histogram Equalization.</p>
            <a href="/histogram_equalization" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Gamma Correction</h5>
            <p class="card-text">Gamma Correction.</p>
            <a href="/gamma_correction" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Low Pass Filter</h5>
            <p class="card-text">Low Pass Filter.</p>
            <a href="/low_pass_filter" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">High Pass Filter</h5>
            <p class="card-text">High Pass Filter.</p>
            <a href="/high_pass_filter" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Band Pass Filter</h5>
            <p class="card-text">Band Pass Filter.</p>
            <a href="/band_pass_filter" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Salt and Pepper Noise</h5>
            <p class="card-text">Salt and Pepper Noise.</p>
            <a href="/salt_and_pepper_noise" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- content-wrapper ends -->
  <!-- partial:partials/_footer.html -->
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2021 <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>. All rights reserved.</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted & made with <i class="mdi mdi-heart text-danger"></i></span>
    </div>
  </footer>
  <!-- partial -->
</div>

{% endblock %}